.service {
margin-bottom: 0px;
}
.container{
  display: flex;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
}

.kasamba{
  text-align: center;
  padding:105px 30px 100px;
  border-radius: 3px;
  margin-bottom: 30px;
  border: 1px solid #dadfe9;
  -webkit-transition: .3s linear; 
  -moz-transition:.3s linear; 
  -ms-transition:.3s linear; 
  -o-transition:.3s linear;
  transition: .3s linear;
  background-color: whitesmoke;
}



.single-service-icon i {
  font-size: 36px;
  color: #f51703;
}

.kasamba h2 a {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  text-decoration-line: none;
  text-decoration: none;
}

.kasamba p {
  font-size: 16px;
  line-height: 1.6;
  color: #777;
}
