/* Base styles */
.brands-container {
  display: flex;
  justify-content: space-between; /* Adjust this property to change the alignment of the images */
  align-items: center; /* Adjust this property to change the vertical alignment of the images */
  margin: 80px; /* Adjust margin as needed */
  height: fit-content;
}

.brand-image {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing between images */
}

.brand-image:last-child {
  margin-right: 0; /* Remove margin from the last image to avoid extra spacing */
}

/* Responsive styles */
@media (max-width: 500px) {
  .brands-container {
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: center; /* Center items horizontally */
    margin: 20px; /* Adjust margin for smaller screens */
    height: fit-content;
    margin-bottom: 1px;
  }

  .brand-image {
    width: 80px; /* Adjust width for smaller screens */
    margin-right: 5px; /* Adjust spacing between images for smaller screens */
    margin-bottom: 10px; /* Add margin bottom for spacing between rows */
  }
  
  .brand-image:last-child {
    margin-right: 0; /* Remove margin from the last image to avoid extra spacing */
  }
}

  