.service-des {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.service-des h2 {
  color: #333;
  font-size: 28px; /* Added font size */
  margin-bottom: 20px; /* Added margin bottom */
}

.service-des h3 {
  color: #333; /* Added color */
  font-size: 24px; /* Added font size */
  margin-bottom: 10px; /* Added margin bottom */
}

.service-des p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.service-des ul {
  list-style: disc; /* Added list style */
  margin-left: 20px; /* Added margin left */
}

.service-des ul li {
  margin-bottom: 10px; /* Added margin bottom */
}

.service-des ul li strong {
  font-weight: bold; /* Added font weight */
}

.service-des ul li:last-child {
  margin-bottom: 0; /* Removed margin bottom for the last li */
}
@media(max-width:500px){
  service-des {
    margin: 0 auto;
    padding-top: 25px;
    margin-top: 20px;
  }
  .service-des h2 {
    color: #333;
    font-size: 28px; /* Added font size */
    margin-top: 20px; /* Added margin bottom */
    padding-top: 30px;
  }
}  