.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background: rgb(24, 10, 24);
    box-shadow: 0 1px 3px  -2px black;
    align-items: center;
    height: 10vh;
}
.nav-logo img{
    width: 250px;
    margin-bottom: 0px;
    margin-top: 3px;
}

.nav-menu{
    display: contents;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 30px;
    font-weight: 600;
    
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    
}
.nav-menu li a{
    color: coral;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(71, 48, 45);
}

@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .na-logo img{
        width :40px;
    }
    .na-logo p{
        font-size: 25px;

    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart  button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap:25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;

    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
@media(max-width:800px){
    .navbar{
        padding: 10px 0px;

    }
    .nav-dropdown{
        display: block;
        width: 30px;
        transition: 0.5s;

    }
    .nav-menu{

        height: 80px;
        width: 100%;
        position: absolute;
        background-color: rgb(62, 83, 62);
        justify-content: center;
        top: 50px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    
    }
}
@media(max-width:500px){
    .navbar{
        width:100%;
        gap: 0;
    }
    .nav-logo{
        transform: scale(0.4);
    }
    .nav-menu{
        display: flex;
        background-color: black;
        width: fit-content;
        padding-left: 3%;
        padding-right: 3%;
        gap: 17px;
    
    }
    
}